# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# editor
.idea/
.vscode/
.vs/

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# build
/build
dist/
tests/api/bin/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# submissions
chessSubmissions

# dtos
old/services/web/.env.local
old/services/web/.env
/old/contributors/gource.mp4
/old/contributors/gource.txt

# lock files
**/package-lock.json

apps/abc/

GameGuild.sln.DotSettings.user

**/swagger.json

apps/api/.env
apps/api/logs/gameguild-20250919_001.log
apps/api/logs/gameguild-20250919_001.txt
apps/api/logs/gameguild-20250919_002.log
apps/api/logs/gameguild-20250919_002.txt
apps/api/logs/gameguild-20250919_003.log
apps/api/logs/gameguild-20250919_003.txt
apps/api/logs/gameguild-20250919_004.log
apps/api/logs/gameguild-20250919_004.txt
apps/api/logs/gameguild-20250919_005.log
apps/api/logs/gameguild-20250919_005.txt
apps/api/logs/gameguild-20250919.log
apps/api/logs/gameguild-20250919.txt
apps/api/logs/gameguild-20250920_001.log
apps/api/logs/gameguild-20250920_001.txt
apps/api/logs/gameguild-20250920.log
apps/api/logs/gameguild-20250920.txt
apps/api/logs/gameguild-errors-20250919.log
apps/api/logs/gameguild-errors-20250919.txt
apps/api/logs/gameguild-errors-20250920.log
apps/api/logs/gameguild-errors-20250920.txt
