# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Caches directories and files
.cache

# Temporary directories and files
.temp
.tmp

# IDE's and Editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode
public/pyodide/*
public/wasm/*

# .NET
/bin/
/obj/
*.user
*.suo
*.cache
*.docstates
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
x64/
x86/
*.exe
*.dll
*.pdb


/[Tt]estResults/
/[Ll]ogs/
# Node.js Dependencies
**/node_modules

# Node.js Package Managers
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Node.js Package Managers Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment Variables
.env
.env.*
!.env.example
!.env.*.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Miscellaneous
*.pem

# Typescript
*.tsbuildinfo

# Compiled Output
/dist

# Next.js
next-env.d.ts
/.next/
/out/

# Vercel
.vercel

# Testing
/coverage

# Production
/build

apps/web/test-results/

test-results/
