@import '@gameguild/ui/globals.css';

@layer base {
  html,
  body {
    @apply h-screen w-screen;
    @apply m-0 p-0;
  }

  body {
    @apply flex;
    @apply bg-background text-foreground;
    @apply font-sans antialiased;
  }
}

@layer utilities {
  /* Para navegadores Webkit (Chrome, Safari) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Para Firefox */
  .scrollbar-hide {
    scrollbar-width: none;
  }

  /* Para IE e Edge */
  .scrollbar-hide {
    -ms-overflow-style: none;
  }
}
