.mermaid-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  margin: 1rem auto !important;
  overflow: auto !important;
  max-width: 100% !important;
  width: fit-content !important;
  background-color: #ffffff !important;
  border-radius: 0.5rem !important;
  padding: 1rem !important;
}

.mermaid-container svg {
  display: block !important;
  max-width: 100% !important;
  height: auto !important;
  background-color: #ffffff !important;
}